<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="${url('/media/exam.css')}" type="text/css" />    
    <title>ドリルの開始</title>
    <!-- TODO: move to hoge.js -->
    <script type="text/javascript">
      function do_post(){
        if(document.form.elements['mode'].value == 'drill')
          document.form.action = 'exam_start';
        else
          document.form.action = 'exam_print';

        document.form.submit();
        return false;
      }
      function level_reset(){
        if(window.confirm('レベルをリセットします。よろしいですか？')) {
          document.f_reset.action = 'exam_root';
          document.f_reset.submit();
          return false;
        }
      }
      
    </script>
    <script type="text/javascript" src="${url('/media/jquery.js')}"></script>
    <script type="text/javascript">
    //<![CDATA[
      (function() {
        $('div#chart_line').flickable();
      });
    // ]]>
    </script>
    <script src="${url('/media/Chart.js')}"></script>
    <!--[if IE]><script type="text/javascript" src="excanvas.js" charset="utf-8"></script><![endif]-->
  </head>
  <body id="exam_root">
    <div id="user_id"><p><span>${u.id}</span> としてログイン中</p></div>
    <div id="page">
    <div id="about">
      <h1>このドリルについて</h1>
      <table>
        <tr py:if="author"><th>ファイル名</th><td><span class="file">${about.filename}</span></td></tr>
        <tr><th rowspan="2">問題集</th><td>${about.name}</td></tr>
        <tr><td><span py:if="about.desc">${about.desc}</span></td></tr>
        <tr py:if="author"><th>作成者</th><td><span py:for="a in about.authors">${a}</span></td></tr>
        <tr><th>問題数</th><td>${about.n}問</td></tr>
      </table>
    </div>
    <div id="setting">
      <h1>設定</h1>
      <form name="form" method="post">
        <table>
          <tr py:if="author"><th>出題モード</th>
            <td colspan="2"><input type="radio" name="mode" value="print" />全問プリント</td>
            <td colspan="2"><input type="radio" name="mode" value="drill" />ドリルをやる</td>
          </tr>
          <tr><th>出題数</th>
            <td></td>
            <td colspan="2">
              <select name="qn">
                <option value="3"  >3</option>
                <option value="5"  >5</option>
                <option value="10" >10</option>
                <option value="15" >15</option>
                <option value="20" >20</option>
                <option value="30" >30</option>
                <option value="50" >50</option>
                <option value="all">全部</option>
              </select>
            </td>
            <td></td>
          </tr>
          <tr><th>出題の順番</th>
            <td><input type="radio" name="order" value="poor" />弱点だくだく</td>
            <td colspan="2"><input type="radio" name="order" value="cont" />連続</td>
            <td><input type="radio" name="order" value="rand" />ランダム</td>
          </tr>
          <tr><th>1ページあたりの問題数</th>
            <td></td>
            <td colspan="2">
              <select name="n_per_page">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="5">5</option>
              </select>
            </td>
            <td></td>
          </tr>
        </table>
      </form>
    </div>

    <div id="get_start">
      <div>さあ、ドリルを始めよう</div>
      <div><a href="#" onclick="do_post()">スタート</a></div>
    </div>
    
    <div id="stat">
      <h1>現在の状況<a py:if="h_chart" href="#" id="level_reset" onclick="level_reset()">レベルリセット</a></h1>
      <form name="f_reset" method="post">
        <input type="hidden" name="level_reset" value="yes" />
      </form>
      <span id="chart_doughnut">
        <canvas id="doughnut" height="165" width="165"></canvas>
        <script>
          var d_data = [
            {value: ${stat[1][0]},  color: "#1e90ff"},  // blue
            {value: ${stat[2][0]},  color: "#ffd700"},  // yellow
            {value: ${stat[3][0]},  color: "#ff3030"},  // red
            {value: ${stat[4][0]},  color: "#e6e6e6"}   // white
          ];

        new Chart($("canvas#doughnut")[0].getContext("2d")).Doughnut(d_data);
        </script>
      </span>
      <span>
        <table>
          <tr><th class="lv_gr">&#10026;</th><td>${stat[1][0]}問</td><td>${stat[1][1]}%</td></tr>
          <tr><th class="lv_ye">&#10026;</th><td>${stat[2][0]}問</td><td>${stat[2][1]}%</td></tr>
          <tr><th class="lv_re">&#10026;</th><td>${stat[3][0]}問</td><td>${stat[3][1]}%</td></tr>
          <tr><th class="lv_wh">&#10026;</th><td>${stat[4][0]}問</td><td>${stat[4][1]}%</td></tr>
          <tr><th>全体</th><th>${stat[0][0]}問</th><th>-</th></tr>
      </table>
      </span>
    </div>
    
    <div py:if="h_chart" id="history">
      <h1>ドリル履歴</h1>
      <div id="chart_line">
        <canvas id="line" height="420"></canvas>
        <script>
        var l_data = {
	      labels : ${h_chart[0]},
	      datasets : [
		    {
              // black
			  fillColor: "rgba(50,50,50,0)",
			  strokeColor: "rgba(50,50,50,1.0)",
			  pointColor: "rgba(50,50,50,1.0)",
			  pointStrokeColor: "#fff",
			  data: ${h_chart[1]}
		    }, {
              // blue
			  fillColor: "rgba(30,144,255,0.3)",
			  strokeColor: "rgba(30,144,255,1.0)",
			  pointColor: "rgba(30,144,255,1.0)",
			  pointStrokeColor: "#fff",
			  data: ${h_chart[2]}
		    }, {
              // yellow
			  fillColor: "rgba(255,215,0,0.3)",
			  strokeColor: "rgba(255,215,0,1.0)",
			  pointColor: "rgba(255,215,0,1.0)",
			  pointStrokeColor: "#fff",
			  data: ${h_chart[3]}
		    }, {
              // red
			  fillColor: "rgba(255,48,48,0.3)",
			  strokeColor: "rgba(255,48,48,1.0)",
			  pointColor: "rgba(255,48,48,1.0)",
			  pointStrokeColor: "#fff",
			  data: ${h_chart[4]}
		    }, {
              // white
			  fillColor: "rgba(230,230,230,0.3)",
			  strokeColor: "rgba(230,230,230,1.0)",
			  pointColor: "rgba(230,230,230,1.0)",
			  pointStrokeColor: "#fff",
			  data: ${h_chart[5]}
		    }
	      ]
        };
        
        var l_opt = {
                     scaleOverride: true,
                     scaleSteps: 10,
                     scaleStepWidth: 10,
                     scaleStartValue: 0,
                  // animation:false
        };

        $('canvas#line').attr('width', l_data['labels'].length * 100);
        new Chart($('canvas#line')[0].getContext('2d')).Line(l_data, l_opt);
        </script>
        <!-- <div><a py:if="h_chart" href="#" id="hist_show_all" onclick="hist_show_all()">すべての履歴を表示</a></div> -->
        <table>
          <tr><th></th><th>日付</th><th>出題数</th><th>得点</th></tr>
          <tr py:for="h in hists">
            <td class="num">${h.i}</td>
            <td class="date">${h.date_str}</td>
            <td>${h.score[1]}問</td>
            <td>${h.score[2]}点</td>
          </tr>
        </table>
      </div>
    </div>
    </div> <!-- /page -->    
    <div id="footer">
      <p class="legalese">© 2013 autometa.ro</p>
    </div>
  </body>
</html>
