<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="${url('/media/default.css')}" type="text/css" />    
    <!-- mathjax beg -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$']] }, "HTML-CSS": { scale: 140} });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
    </script>
    <meta http-equiv="X-UA-Compatible" CONTENT="IE=EmulateIE7" />
    <!-- mathjax end -->
  </head>
  <body>
    <div><img src="${url('/media/logo.gif')}" /></div>
    <div class="navi">
      <span py:if="navi[0]" class="navi_l"><a class="navi" href="${url('/%s/%d/%s/' % (navi[0].dispatcher, pginfo.page_num, 'prev'))}">${navi[0].label}</a></span>
      <span class="navi_c">${pginfo.page_num}/${pginfo.page_max}ページ</span>
      <span py:if="navi[1]" class="navi_r"><a class="navi" href="${url('/%s/%d/%s/' % (navi[1].dispatcher, pginfo.page_num, 'next'))}">${navi[1].label}</a></span>
    </div>
    <div class="qb" py:if="questions">
      <div class="qbi" py:for="q in questions">
        <h2>問${q.i}<span class="qcap">［${q.ad}年（${q.nengo}${q.jy}年）問${q.qnum}]</span></h2>
        <p class="qstr">${q.qstr}</p>
        <form method="post" action=""><table class="opts">
            <tr py:if="q.opt_head">
              <th py:for="c in q.opt_head">${c}</th>
            </tr>
            <tr py:for="o in q.opts">
              <td><input type="${q.opt_typ}" name="q${q.i}_opt" value="${o.onum}"/></td>
              <td py:for="c in o.cols">${c}</td>
            </tr>
        </table></form>
      </div>
    </div>
    <div class="navi">
      <span py:if="navi[0]" class="navi_l"><a class="navi" href="${url('/%s/%d/%s/' % (navi[0].dispatcher, pginfo.page_num, 'prev'))}">${navi[0].label}</a></span>
      <span class="navi_c">${pginfo.page_num}/${pginfo.page_max}ページ</span>
      <span py:if="navi[1]" class="navi_r"><a class="navi" href="${url('/%s/%d/%s/' % (navi[1].dispatcher, pginfo.page_num, 'next'))}">${navi[1].label}</a></span>
    </div>
  </body>
</html>
