<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="${url('/media/exam.css')}" type="text/css" />    
    <title>ドリルの開始</title>
    <!-- TODO: move to hoge.js -->
    <script type="text/javascript">
      function do_post(){
        if(document.form.elements['mode'].value == 'drill')
          document.form.action = 'exam_start';
        else
          document.form.action = 'exam_print';

        document.form.submit();
        return false;
      }
      function level_reset(){
        //window.dialog('レベルをリセットします。よろしいですか？'); // TODO
        document.f_reset.action = 'exam_root';
        document.f_reset.submit();
        return false;
      }
    </script>
  </head>
  <body id="exam_root">
    <div id="setting">
      <h1>設定</h1>
      <form name="form" method="post">
        <table>
          <tr><th>全問題数</th>
            <td></td>
            <td colspan="2">${n}問</td>
            <td></td>
          </tr>
          <tr><th>出題モード</th>
            <td colspan="2"><input type="radio" name="mode" value="print" />全問プリント</td>
            <td colspan="2"><input type="radio" name="mode" value="drill" />ドリルをやる</td>
          </tr>
          <tr><th>出題数</th>
            <td></td>
            <td colspan="2">
              <select name="qn">
                <option value="3"  >3</option>
                <option value="5"  >5</option>
                <option value="10" >10</option>
                <option value="15" >15</option>
                <option value="20" >20</option>
                <option value="30" >30</option>
                <option value="50" >50</option>
                <option value="all">全部</option>
              </select>
            </td>
            <td></td>
          </tr>
          <tr><th>出題の順番</th>
            <td><input type="radio" name="order" value="poor" />弱点だくだく</td>
            <td colspan="2"><input type="radio" name="order" value="cont" />連続</td>
            <td><input type="radio" name="order" value="rand" />ランダム</td>
          </tr>
          <tr><th>1ページあたりの問題数</th>
            <td></td>
            <td colspan="2">
              <select name="n_per_page">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="5">5</option>
              </select>
            </td>
            <td></td>
          </tr>
        </table>
      </form>
    </div>

    <div id="get_start">
      <div>さあ、ドリルを始めよう</div>
      <div><a href="#" onclick="do_post()">スタート</a></div>
    </div>
    
    <div id="stat">
      <h1>現在の状況<a href="#" id="level_reset" onclick="level_reset()">レベルリセット</a></h1>
      <form name="f_reset" method="post">
        <input type="hidden" name="level_reset" value="yes" />
      </form>
      <table>
        <tr><th>全体</th><th colspan="2">${stat[0][0]}問</th></tr>
        <tr><th class="lv_gr">&#10026;</th><td>${stat[1][0]}問</td><td>${stat[1][1]}%</td></tr>
        <tr><th class="lv_ye">&#10026;</th><td>${stat[2][0]}問</td><td>${stat[2][1]}%</td></tr>
        <tr><th class="lv_re">&#10026;</th><td>${stat[3][0]}問</td><td>${stat[3][1]}%</td></tr>
        <tr><th class="lv_wh">&#10026;</th><td>${stat[4][0]}問</td><td>${stat[4][1]}%</td></tr>
      </table>
    </div>
    
    <div py:if="hists" id="history">
    <h1>ドリル履歴</h1>
      <table>
        <tr><th></th><th>日付</th><th>出題数</th><th>得点</th></tr>
        <tr py:for="h in hists">
          <td class="num">${h.i}</td>
          <td class="date">${h.date_str}</td>
          <td>${h.score[1]}問</td>
          <td>${h.score[2]}点</td>
        </tr>
      </table>
    </div>
    
    <div id="footer">
      <p class="legalese">© 2013 autometa.ro</p>
    </div>
  </body>
</html>
