<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="${url('/media/exam.css')}" type="text/css" />
    <title>ドリル終了確認</title>
    <script type="text/javascript">
      function do_post(form, dest){
        form.action = dest;
        form.submit();
        return false;
      }
    </script>
  </head>
  <body>
    <div id="user_id"><span>${u.id}</span> としてログイン中</div>
    <div class="navi">
      <span py:if="navi[0]" class="navi_l"><button class="navi" onclick="do_post(document.form_confirm, 'exam')">${navi[0].label}</button></span>
    </div>
    <div id="confirm">
      <p>テストを終了します。よろしいですか？</p>
      <form name="form_confirm" method="post">
          <input type="hidden" name="_pg" value="${pg}"/>
          <input type="hidden" name="_cmd" value="prev"/>
      </form>
      <button onclick="do_post(document.form_confirm, 'exam_result')">はい</button>
      <button onclick="do_post(document.form_confirm, 'exam')">いいえ</button>
    </div>
    <div class="navi">
      <span py:if="navi[0]" class="navi_l"><button class="navi" onclick="do_post(document.form_confirm, 'exam')">${navi[0].label}</button></span>
    </div>
  </body>
</html>
