<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="${url('/media/exam.css')}" type="text/css" />    
    <title>全問プリント</title>
    <!-- mathjax beg -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$']] }, "HTML-CSS": { scale: 100} });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
    </script>
    <meta http-equiv="X-UA-Compatible" CONTENT="IE=EmulateIE7" />
    <!-- mathjax end -->
  </head>
  <body>
    <div id="user_id"><p><span>${u.mail_addr}</span> としてログイン中</p></div>
    <div class="navi">
      <span py:if="navi[0]" class="navi_l"><a class="navi" href="${navi[0].dispatcher}">${navi[0].label}</a></span>
      <span class="navi_c">問題数: ${pginfo.qn}問</span>
      <span py:if="navi[1]" class="navi_r"><a class="navi" href="${navi[1].dispatcher}">${navi[1].label}</a></span>
    </div>
    <div class="qb" py:if="questions">
      <form name="form_opt" method="post">
        <input type="hidden" name="_pg" value="" />
        <input type="hidden" name="_cmd" value="" />
        <div class="qbx" py:for="q in questions">
          <h2>問${q.i}<span class="qcap">［${q.ad}年（${q.nengo}${q.jy}年）問${q.qnum}］</span></h2>
          <div class="qbi">
            ${q.qstr}
            <table class="opts">
              <tr py:if="q.opt_head">
                <th class="hit"></th>
                <th class="checkbox"></th>
                <th py:for="c in q.opt_head">${c}</th>
              </tr>
              <tr py:for="o in q.opts">
                <td class="hit">${o.hit}</td>
                <td>(${o.onum})</td>
                <td py:for="c in o.cols" class="${q.opt_style}">${c}</td>
              </tr>
            </table>
            <div py:if="q.desc" class="desc"><div class="desc_head">解説</div>${q.desc}</div>
          </div>
        </div>
      </form>
    </div>
    <div class="navi">
      <span py:if="navi[0]" class="navi_l"><a class="navi" href="${navi[0].dispatcher}">${navi[0].label}</a></span>
      <span class="navi_c">問題数: ${pginfo.qn}問</span>
      <span py:if="navi[1]" class="navi_r"><a class="navi" href="${navi[1].dispatcher}">${navi[1].label}</a></span>
    </div>
  </body>
</html>
