<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="${url('/media/default.css')}" type="text/css" />    
    <title>電気ドリル</title>
    <script type="text/javascript">
      function do_post(dest){
        document.form.action = dest;
        document.form.submit();
        return false;
      }
    </script>
  </head>
  <body class="index">
    <div id="register">
      <div>登録</div>
      <div><a href="#" onclick="do_post('regi')">登録</a></div>
    </div>
    <div id="login">
      <div>ログイン</div>
      <div><a href="#" onclick="do_post('login')">ログイン</a></div>
    </div>
    <div id="ドリル一覧">
    </div>
    <div id="footer">
      <p class="legalese">© 2013 autometa.ro</p>
    </div>
  </body>
</html>
