/* -*- coding: utf-8 -*- */
body {
    line-height:1.8em;
}

table {
	border-collapse:collapse;
	/* width: 80%; */
}

th {
	border:#000 1px solid;
	padding:3px;
	font-weight:normal;
}

td {
	border:#000 1px solid;
	padding:3px;
}


