/* -*- coding: utf-8 -*- */
@import url("default.css");

div.qb {margin:5px 0 5em}

div.qbx {margin:5px 0 60px}

div.qbi {margin:0 40px}

div#user_id {margin: 5px 0;text-align:right; font-size:small}
div#user_id span{font-family:Courier}
div#footer {margin:40px 30px 5px 30px; text-align:center; border-top:#000 1px solid; line-height:normal; font-size:small}
div#footer p {margin-top:5px}

/* exam_root */
#exam_root #page {margin:0px 20px 0 40px}
#exam_root h1 {margin:40px 0 10px 0}
#about table {width:510px}
span#file {color:red}           /* why doesn't work?? */

#setting table {width:510px}
#setting tr {border: #000 1px solid}
#setting th {width:180px}
#setting td {border:none}

div#get_start {border: #000 1px dashed; margin:40px 0 40px 0; width:510px; text-align:center}

span#chart_doughnut {margin:0 30px 0 0; float:left}

.lv_gr {margin: 0 0.2em; font-size: x-large; color:#ffd700; text-shadow: 1px 2px 1px #000}
.lv_ye {margin: 0 0.2em; font-size: x-large; color:#e6e6e6; text-shadow: 1px 2px 1px #000}
.lv_re {margin: 0 0.2em; font-size: x-large; color:#1e90ff; text-shadow: 1px 2px 1px #000}

#stat table {width:300px; text-align:center}
#stat th {width: 180px}
button#level_reset {margin:10px 0 10px 0; font-weight:normal; font-size:small}

div#chart_line {margin:20px 0 10px 0; width:100%; overflow:auto; cursor:pointer}
canvas#line {margin:0 -35px}
/* canvas#line {margin:0 0; border:1px solid red} */
button#accordion_sw {margin:10px 0 20px 0; font-weight:normal; font-size:small}
#history table {width:510px; text-align:center}
#history td.num {width:40px}
#history td.date {width:140px}


/* ナビゲーション */
div.navi {
    text-align:center;
    margin:10px 0;
    padding:4px 10px 0px 10px;
    height:30px;
    border:#000 1px solid
}
span.navi_l {float:left}
span.navi_c {float:center}
span.navi_r {float:right}

a.navi {text-decoration:none; color:#314974}
a.navi:hover {text-decoration:underline; color:CornflowerBlue}


/* 問題番号 */
h2 {
    margin-bottom:0;
}

span.qcap {
    font-weight:normal;
    font-size:small;
    color:#aaa;
}

/* 問題文 (Markdown) */
.qbi p {
    margin-top:0;
    text-indent:1em;
}

/* 空欄 */
span.blank {
	border:#000 1px solid;
	padding:3px 1.5em 0 1.5em;
    margin:0 0.3em;
}

/* 選択肢 */
table.opts {
	border-collapse:collapse;
    margin:10px 10px 10px 30px;
    -webkit-text-size-adjust: 150%;
}

.opts th {
    border:none;
    border-bottom:#000 1px solid;
	padding:4px 0.7em 1px 0.7em;
	font-weight:normal;
}

.opts td {
    border: none;
	border-bottom:#000 1px solid;
	padding:4px 0.7em 1px 0.7em;
    text-align:center;
}

.opts td.no_head {
    border:none;
	border-bottom:#000 1px solid;
	padding:4px 0.7em 1px 0.7em;
    text-align:left;
    /* text-indent: 1em; */
}

.opts th.checkbox, td.checkbox {
    border:none; 
	border-bottom:#000 1px solid;
    text-align:center;
	padding:3px;
}

/* 全問プリント */
.opts th.hit, td.hit {border:none; text-align:center; padding:3px; color:blue; font-weight:bold}
div.desc_head {margin: 30px 0 0 0; padding-left: 10px; font-weight:bold; background-color:#DDD; color:black}

/* exam_finish_confirm */
table#confirm td {border:none}

/* exam_result */
div.summary {margin:20px 0 5px 0; text-align:center}
div#score {margin 50px}
div#score span#total {font-size:xx-large}
div#score span#frac  {font-size:x-large; margin-left:20px}

div#time {margin:20px 0 5px 0}
div#time span#total {}
div#time span#avg   {margin-left:20px}

div#ac_ctrl {text-align:right}
button#ac_open_all,button#ac_close_all {width:8em}

div.details {margin:5px 0 20px 0}
div.rb {margin:-1px 0 0 23px; padding:0; border:none}
div.rbx {margin:0; padding:5px 40px 5px 40px; border:#000 1px solid; border-top:none; margin-bottom:20px}
table.accordion_head {margin:0; width:100%; cursor:pointer}
.accordion_head th,.accordion_head td {padding:3px 15px 0 15px; font-weight: bold}
.accordion_head th.qnum {background-color:#333; color:white; width:2.5em}
.accordion_head td.correct {background-color:#61D9EF; width:2.5em; text-align:center}
.accordion_head td.wrong   {background-color:#FF6699; width:2.5em; text-align:center}
.accordion_head td.qinfo   {width:14em; font-weight:normal; text-align:center; padding:3px 8px 0 8px}
.accordion_head td.history {padding:3px 8px 0 8px}
.accordion_head td.history span {font-family:monospace; margin:0 0.2em}
.accordion_head span.accordion_indicator img {position:absolute; left:8px; margin-top:3px; background:url(accordion_indicator.png) no-repeat left top}
.accordion_head span.accordion_indicator img.active {background:url(accordion_indicator.png) no-repeat left bottom}
 
.opts td.correct,th.correct {color:#4EB0C2; border:none; padding:6px 5px 0px 5px; width:1.2em}
.opts td.wrong   {color:#CC527A;  border:none; padding:4px 5px 1px 5px; width:1.2em}
span.strike {text-decoration:line-through; color:red}
      span.correct {
      padding:1px 0px 1px 2px;
      color:white;
      font-weight:normal;
      display:block;
      width: 35px;
      height: 25px;
      background:#4EB0C2;
      position: relative;
      -moz-border-radius:    5px;
      -webkit-border-radius: 5px;
      border-radius:         5px;
      }
      span.correct:after {
      content:"";
      position: absolute;
      left: 93%;
      top: 0px;
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-left: 13px solid #4EB0C2;
      border-bottom: 14px solid transparent;
      }


