/* -*- coding: utf-8 -*- */
@import url("default.css");

div.qb {
    margin:5px 0 5em;
}

div.qbx {
    margin:5px 0 60px;
}

div.qbi {
    margin:0 40px;
}

div#user_id {text-align:right; font-size:small}
div#user_id span{font-family:Courier}
div#footer {margin:40px 30px 5px 30px; text-align:center; border-top:#000 1px solid; line-height:normal; font-size:small}
div#footer p {margin-top:5px}

/* exam_root */
#exam_root h1 {margin:40px 30px 5px 30px}
#about table {width:510px}
span#file {color:red}           /* why doesn't work?? */

#setting table {width:510px}
#setting tr {border: #000 1px solid;}
#setting th {width:180px}
#setting td {border:none}
a#level_reset {margin-left:30px; font-weight:normal; font-size:small; }
th.lv_gr {font-size: x-large; color:green;}
th.lv_ye {font-size: x-large; color:yellow;}
th.lv_re {font-size: x-large; color:red;}
th.lv_wh {font-size: x-large; color:LightGray;}

div#get_start {border: #000 1px dashed; margin:40px 30px 40px 30px; width:510px}

#stat table {width:510px; text-align:center}
#stat th {width: 180px}

#history table {width:510px; text-align:center}
#history td.num {width:40px;}
#history td.date {width:140px;}



/* ナビゲーション */
div.navi {
    text-align:center;
    margin:10px 0;
    padding:4px 10px 0px 10px;
    height:30px;
    border:#000 1px solid
}
span.navi_l {float:left}
span.navi_c {float:center}
span.navi_r {float:right}

a.navi {text-decoration:none; color:#314974}
a.navi:hover {text-decoration:underline; color:CornflowerBlue}


/* 問題番号 */
h2 {
    margin-bottom:0px;
}

span.qcap {
    font-weight:normal;
    font-size:small;
    color:#aaa;
}

/* 問題文 (Markdown) */
.qbi p {
    margin-top:0;
    text-indent:1em;
}

/* 空欄 */
span.blank {
	border:#000 1px solid;
	padding:3px 1.5em 0 1.5em;
    margin:0 0.3em;
}

/* 選択肢 */
table {
	border-collapse:collapse;
    margin:10px 10px 10px 30px;
}

.opts th {
    border:none;
    border-bottom:#000 1px solid;
	padding:4px 0.7em 1px 0.7em;
	font-weight:normal;
}

.opts td {
    border: none;
	border-bottom:#000 1px solid;
	padding:4px 0.7em 1px 0.7em;
    text-align:center;
}

.opts td.no_head {
    border:none;
	border-bottom:#000 1px solid;
	padding:4px 0.7em 1px 0.7em;
    text-align:left;
    /* text-indent: 1em; */
}

.opts th.checkbox, td.checkbox {
    border:none; 
	border-bottom:#000 1px solid;
    text-align:center;
	padding:3px;
}

/* 全問プリント */
.opts th.hit, td.hit {border:none; text-align:center; padding:3px; color:blue; font-weight:bold}

/* exam_finish_confirm */
table#confirm td {border:none}

/* exam_result */
div.summary {margin:20px 0; text-align:center}
div#score {margin 50px}
div#score span#total {font-size:xx-large}
div#score span#frac  {font-size:x-large; margin-left:20px}

div#time {margin:50px}
div#time span#total {}
div#time span#avg   {margin-left:20px}
div.details {margin:20px 0}
div.rb {margin:-1px 0 0 0; padding:0; border:none}
div.rbx {margin:0; padding:5px 40px 5px 40px; border:none}
table.accordion_head {margin:0; width:100%}
.accordion_head th,.accordion_head td {padding:3px 15px 0 15px; font-weight: bold}
.accordion_head th.qnum {background-color:#333; color:white; width:2.5em}
.accordion_head td.correct {background-color:#61D9EF; width:2.5em; text-align:center}
.accordion_head td.wrong   {background-color:#FF6699; width:2.5em; text-align:center}
.accordion_head td.qinfo   {width:13em; font-weight:normal; text-align:center; padding:3px 8px 0 8px}
.accordion_head td.history {text-align:right; padding:3px 8px 0 8px}
.accordion_head td.history span {font-family:monospace; margin:0 0.2em;}
.accordion_head td.accordion_indicator {width:1.5em; text-align:center; font-size:large}
 
.opts .correct {color:blue; border:none; padding:4px 5px 1px 5px; width:1.2em}
.opts .wrong   {color:red;  border:none; padding:4px 5px 1px 5px; width:1.2em}
span.strike {text-decoration:line-through; color:red}
.accordion_head {cursor:pointer}

